- title "Something's gone wrong"

p.alert.alert-danger There was an internal error but we've been now notified. Thank you for bringing it to our attention.
p
  a.btn.btn-warning.back-button href="#" Go Back
